<ion-content>
  <center><ion-icon name="close" color="danger" (click)="fx.openPage('tabs/tab1','')" size="large"></ion-icon></center>
  <center style="margin-top: 10%;">
    <ion-img src="..\assets\logo.png" style="width: 60%"></ion-img>  
  </center>
  <div class="contact">
    <center>
       <h4>Developer</h4>
        <ion-item >
          <ion-icon name="globe" color="primary" slot="start"></ion-icon>
          <ion-label slot="end"  color="primary">Site Web
            <p>Pour les details</p>
          </ion-label>
        </ion-item>
         <ion-item>
           <ion-icon name="logo-whatsapp" color="success" slot="start"></ion-icon>
           <ion-label slot="end"><a href="tel:+243973472538">+243 973 472 538</a>
          <p>
            Appel,sms...
          </p>
        </ion-label>
         </ion-item>
         <ion-item>
          <ion-icon name="logo-facebook" color="primary" slot="start"></ion-icon>
          <ion-label slot="end" >Frank M.
            <p>page</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="people-sharp" color="primary" slot="start"></ion-icon>
          <ion-label slot="end">Microsoppy
            <p>microsoppy.com</p>
          </ion-label>
        </ion-item>
    </center>

  </div>

  <!-- <iframe *ngIf="site==1" class="frame" src="https://instano.nunua-store.com" frameborder="1" ></iframe>
  <iframe *ngIf="site==2" class="frame" src="https://facebook.com/frankmakolongo" frameborder="0" ></iframe>
  <iframe *ngIf="site==3" class="frame" src="https://whataspp:+243973472538" frameborder="0" ></iframe> -->

</ion-content>
