ion-content{
    .table{
        border-left:black solid 2px;
        padding: 0%;
        
    }
    .headTable{
        background: linear-gradient(135deg,rgb(26, 41, 250),rgb(0, 204, 255),rgb(38, 7, 124));
        color: white;
    }
    .row{
        border-bottom:black solid 2px;
    }
    ion-col{
        border-right:rgb(63, 63, 63) solid 2px;
    }
    .title{
        padding: 10px;
        text-align: center;
        background: gray;
        color: white;
    }

}